/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== list ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}
.section__title {
  position: relative;
  font-size: 1rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: #ffb566;
}

.list__container {
  row-gap: 2.5rem;
  margin-bottom: 2rem;
}

.list__card {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  border: 1px solid #f0f0f0;
  overflow-y: hidden;
  transition: 0.3s;
}

.list__tag {
  background-color: gray;
  /* background-color: #ffb566; */
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  transform: rotate(-90deg);
  left: -2.2rem;
  top: 3rem;
}

.list__img {
  height: 214px;
  margin-bottom: 1rem;
}

.list__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__title,
.list__price {
  font-size: 1rem;
  font-weight: 700;
}

.list__title {
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.list__price {
  color: #ffb566;
  font-size: 1.2rem;
}

.list__button {
  font-size: 0.813rem;
  padding: 2rem 0 3rem 0;
}

.list__card:hover {
  box-shadow: 0 12px 32px #3333331a;
}
