.heigth{
    height: 60px;
}

.offcanvas{
    --bs-offcanvas-width: 60% !important;
    max-width: 400px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: 10px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: 5px;
}

.logo{
    width: 90px;
    height:55px;
}


@media (min-width: 769px) {
    .arrow{
        display:block;
        margin-left: 28px;
    }
    .logo{
        width: 120px;
        height:70px;
    }
}
