.heigth {
  width: 100%;
  height: 80px;
}

.logo {
  border-radius: 50%;
  width: 68px;
  height: 56px;
}

.expand:hover {
  background-color: #555555;
  color: #ffffff;
}

.dark {
  --bs-navbar-color: transparent !important;
}

.cursor__default {
  cursor: default;
}

.toggler {
  width: 0.8em !important;
}

.offcanvas {
  --bs-offcanvas-width: 350px !important;
}

@media (min-width: 769px) {
  .arrow {
    display: block;
    margin-left: 28px;
  }
  .logo {
    width: 100px;
    height: 70px;
  }

  .heigth {
    width: 100%;
    height: 90px;
  }

  .offcanvas {
    --bs-offcanvas-width: 400px !important;
  }
}
